/* Default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
  }
  
  /* Container */
  #container {
	width: 100%;
	height: 100vh;
	display: flex;
  }
  
  /* Home section */
  #home {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0096bb;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
  }
  
  /* Flip book */
  .flip-book {
	width: 100%;
	height: 95vh;
	position: relative;
	perspective: 1500px;
	border: 1px #0000;
  }
  
  .flip {
	width: 100%;
	height: 95vh;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
  }
  
  .front {
	position: absolute;
	width: 100%;
	height: 95vh;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
  }
  

/* LIVRO */

.check{
	display: none;
}
.book{
   
	width: 95%;
	height: 95vh;
	display: flex;
	justify-content: center;
    align-items: center;
}
/* Next and back buttons */
.next-btn,
.back-btn {
  position: absolute;
  bottom: 13px;
  cursor: pointer;
  color: white;
  background-color: #0096bb;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.next-btn {
  right: 13px;
}

.back-btn {
  left: 13px;
}



#p1{
	z-index: 15;
}
#p2{
	z-index: 14;
}
#p3{
	z-index: 13;
}
#p4{
	z-index: 12;
}
#p5{
	z-index: 11;
}
#p6{
	z-index: 10;
}
#p7{
	z-index: 9;
}
#p8{
	z-index: 8;
}
#p9{
	z-index: 7;
}
#p10{
	z-index: 6;
}
#p11{
	z-index:5;
}
#p12{
	z-index: 4;
}
#p13{
	z-index: 3;
}
#p14{
	z-index: 2;
}
#p15{
	z-index: 1;
}





#c1:checked ~ .flip-book #p1{
	
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{

	z-index: 2;
}
#c3:checked ~ .flip-book #p3{

	z-index: 3;
}
#c4:checked ~ .flip-book #p4{

	z-index: 4;
}
#c5:checked ~ .flip-book #p5{
	
	z-index: 5;
}
#c6:checked ~ .flip-book #p6{

	z-index: 6;
}
#c7:checked ~ .flip-book #p7{

	z-index: 7;
}
#c8:checked ~ .flip-book #p8{

	z-index: 8;
}
#c9:checked ~ .flip-book #p9{
	
	z-index: 9;
}
#c10:checked ~ .flip-book #p10{

	z-index: 10;
}
#c11:checked ~ .flip-book #p11{

	z-index: 11;
}
#c12:checked ~ .flip-book #p12{

	z-index: 12;
}
#c13:checked ~ .flip-book #p13{

	z-index: 13;
}
#c14:checked ~ .flip-book #p14{

	z-index: 14;
}
#c15:checked ~ .flip-book #p15{

	z-index: 15;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
     }
 }
 
/* CONTEUDO */

.conversa{
    width: 90%;
    display: flex;
    align-items:center;
    justify-content: center;

}
.boneco{
	width: 80%;
    height: 75vh;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}



#caixa-boneco{
    width: 25%;
    height: 95vh;
    display: flex;
    align-items:end;
    justify-content:start;


}
#caixa-balao{
	width:25%;
	height:95vh;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:end;


}
#balao{
	position: relative;
	width:65%;
	height:30vh;
	display: flex;
	text-align: center;
	align-items: center;
    justify-content:center;
	animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
#balao img{
	position: absolute;
	width: 100%;
	height:100%;
	object-fit: cover;
	display: block;
}


/* paginas com pergunta */


.conversa-pergunta{
    width: 100%;
	height: 50vh;
    display: flex;
    align-items:center;
    justify-content: center;

}
.boneco-pergunta{
	width: 60%;
    height: 40vh;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;

}


#caixa-boneco-pergunta{
    width: 40%;
    height: 50vh;
    display: flex;
    align-items:end;
    justify-content:end;


}
#caixa-balao-pergunta{
	width:45%;
	height:50vh;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:start;


}
#balao-pergunta{
	position: relative;
	width: 60%;
	height:30vh;
	display: flex;
	text-align: center;
	align-items: center;
    justify-content:center;
	animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
#balao-pergunta img{
	position: absolute;
	width:250px;
	height:250px;
	object-fit: cover;
	display: block;
}


  #balao-pergunta p, #balao p{
	font-size: 15px;
	font-weight: bold;
  }

.questao-esquerda{
   
    width: 50%;
    height:95vh;
    display: flex;
	flex-direction: column;
	background-color: #51d1f1;
}
.questao-direita{
    
    width: 50%;
    height:95vh;
    display: flex;
    flex-direction: column;
}
.esquerda-abaixo{
    width: 100%;
    height:50vh;
    display: flex;
}
.esquerda-acima{
  
    width: 100%;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.direita-abaixo{
    width: 100%;
    height:50vh;
    display: flex;
}
.direita-acima{
  
    width: 100%;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width:90%;
    height:30vh;
    border-collapse: collapse;
    text-align: center;
	border: 2px solid #0096Bb;
	border-radius: 5px;
	padding: 5px;
	
  }
  td{
    border: 2px solid #0096Bb;
  }
  .resposta{
    width:98%;
    height: 98%;
 
  }
  .resposta2{
    width:98%;
    height: 98%;
 
  }
  th{
	border: 2px solid #0096Bb;
  }


.diferente{
	background-color: #1684a0;
	color: white;
	padding: 3px;
	font-size: 15px;
	
}

button {
	background-color: #0096bb;
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
  }
button:hover{
	transform: translateX(7px) scale(1.2);
}

/* pagina 14 */

.esquerda{
	width: 50%;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #51d1f1;
}
.esquerda2{
	width: 50%;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #51d1f1;
	flex-direction: column;
}
.direita{
	width: 50%;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
}
.direita2{
	width: 50%;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
p em b{
	background-color: rgb(230, 173, 17);
	color:rgb(138, 15, 128);

}
p b{
	background-color: rgb(230, 173, 17);
	color:rgb(138, 15, 128);
}
p em{
	font-weight: 500;
	color:rgb(138, 15, 128);

}
h1{
	font-size: 20px;
}
.direita2 p, .esquerda2 p{
	font-size: 16px;
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}


  /* Pagination */
  input[type="radio"]:checked ~ .flip-book .front {
	z-index: 1;
  }
  input[type="radio"] ~ .flip-book .front {
	position: absolute;
	width: 100%;
	height: 95vh;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
  }
  
  
  /* Animation */
  @keyframes fadeInAnimation {
	0% {
	  opacity: 0.2;
	}
	100% {
	  opacity: 1;
	}
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
	#container {
		flex-direction: column;
	  }
	
	  /* Flip book styles */
	  .flip-book {
		width: 100%;
		height: 98vh;
	  }
	
	  .front {
		width: 100%;
		height: 98vh;
	  }
	  .conversa{
		width: 100%;
		height: 98vh;
	  }
	  #caixa-boneco,
	  #caixa-balao {
		width: 100%;
		height: auto;
	
	  }
	   #caixa-balao-pergunta,
	   #caixa-boneco-pergunta{
		width: 100%;
		height: 50vh;
	  }
	  #caixa-boneco-pergunta img{
		width: 100%;
		height: 40vh;
	  }
	  #balao-pergunta{
		width: 100%;
		height:50vh;
	  }
	  #balao-pergunta img{
		width: 100%;
		height: auto;
	  }

	.boneco{
		width: 100%;
		height: 70vh;
	}
	#caixa-boneco{
		width: 50%;
		height: 95vh;

	}
	#caixa-balao{
		width:55%;
		height:70vh;
	
	} 
	
	  #balao img {
		width:100%;
		height: auto;
	  }

	  .diferente{
		width: 25%;
		height: 30vh;
	  }
	  table{
		width: 25%;
		height: 40vh;
	  }
	  tr,
	  td,
	  th
		{
		font-size:5px;
	  }
	 
	  .questao-esquerda,
	  .questao-direita {
		width: 50%;
		height: 98vh;
	  }
	
	  .esquerda-abaixo,
	  .direita-abaixo,
	  .esquerda-acima,
	  .direita-acima {
		width:100%;
		height:50vh;

	  }
	  .esquerda,
	  .esquerda2,
	  .direita,
	  .direita2 {
		width: 50%;
		height: 98vh;
	  }
	  button,
	  p, 
	  .direita2 p,
	  .esquerda2 p,
	  p em b,
	  p b,
	  p em, #balao p{
	
		font-size: 10px;
	  }
	  h1{
		font-size: 13px;
	  }
	  .next-btn,
	.back-btn {
	font-size: 13px;
}
#balao-pergunta p{
	
	font-size: 8px;
  }
  }
  /* Media queries for responsiveness */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Flip book styles */
.flip-book {
	width: 100%;
	height: 98vh;
  }

  .front {
	width: 100%;
	height: 98vh;
  }
  .conversa{
	width: 100%;
	height: 98vh;
  }


  #caixa-boneco,
  #caixa-balao {
	width: 100%;
	height: auto;

  }
   #caixa-balao-pergunta,
   #caixa-boneco-pergunta{
	width: 100%;
	height: 50vh;
  }
  #caixa-boneco-pergunta img{
	width: 100%;
	height: 40vh;
  }
  #balao-pergunta{
	width: 100%;
	height:40vh;
  }
  #balao-pergunta img{
	width: 100%;
	height: auto;
  }

.boneco{
	width: 100%;
	height: 80vh;
}
#caixa-boneco{
	width: 50%;
	height: 95vh;

}
#caixa-balao{
	width:55%;
	height:70vh;

} 
#balao{
	width:50%;
	height:25vh;
}

  .boneco {
	width: 70%;

  }

  
  #balao img{
	width: 100%;
	height: auto;
  }
  .diferente{
	width:40%;
	height: 30vh;
  }
  table{
	width: 40%;
	height: 30vh;
  }
  tr,
  td,
  th
	{
	font-size: 11px;
  }
 

  .questao-esquerda,
  .questao-direita {
	width: 50%;
	height: 98vh;
  }

  .esquerda-abaixo,
  .direita-abaixo,
  .esquerda-acima,
  .direita-acima {
	width:100%;
	height:50vh;

  }
  .esquerda,
  .esquerda2,
  .direita,
  .direita2 {
	width: 50%;
	height: 98vh;
  }
  button,
  p, 
  .direita2 p,
  .esquerda2 p,
  p em b,
  p b,
  p em,  #balao p, #balao-pergunta p{

	font-size: 13px;
  }
  h1{
	font-size: 15px;
  }
  .next-btn,
.back-btn {
font-size: 13px;
}

  }